@charset "UTF-8";

#wrap {}

#fullpage {}

.contents {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */

}

.section01 {
    margin: 0 auto;
    flex-flow: row nowrap;
    max-width: 1920px;
    width: 100%;
    /* border: 1px solid green; */
    flex-direction: column;
    position: relative;
}

.section01 video {
    /* border: 1px solid pink; */
}

.section01 p {
    display: block;
    /* border: 1px solid red; */
    position: absolute;
    left: 50%;
    bottom: 150px;
    transform: translateX(-50%);
    font-size: 20px;
    line-height: 1.8;
    text-align: center;
}

.section02 {
    background-color: #eee;
}

.project_web {
    width: 1200px;
    margin: 0 auto;
}

.project_web h1::before {
    content: '';
    width: 7px;
    height: 35px;
    background-color: forestgreen;
    position: relative;
    display: inline-block;
    right: 5px;
    top: 5px;
    margin-right: 10px;
}

.project_web h1 {
    margin-bottom: 50px;
    border-bottom: 2px solid #999;
    padding-bottom: 10px;
    font-family: 'GmarketSans';
    /* border: 1px solid red; */
}

.project_web .project {
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.project_web .project .img {
    width: 450px;
    height: 250px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 2px 2px 2px #999;
}

.project_web .project .pro_img1 {
    background-image: url(../img/clear1.jpg);
}

.project_web .project .pro_img2 {
    background-image: url(../img/clear2.jpg);
}

.project_web .project .pro_img3 {
    background-image: url(../img/clear3.jpg);
}

.project_web .project .pro_img4 {
    background-image: url(../img/clear4.jpg);
}

.project_web .project .pro_img5 {
    background-image: url(../img/clear5.jpg);
}

.project_web .project .pro_img6 {
    background-image: url(../img/clear6.jpg);
}

.project_web .project .content {
    margin-left: 30px;
    width: 650px;
    /* border: 1px solid red; */
    display: flex;
}

.project_web .project .content dl {
    display: flex;
    flex-flow: row wrap;
}

.project_web .project .content dl dt {
    width: 25%;
    padding: 10px 0;
    font-weight: 700;
    color: #525252;
}

.project_web .project .content dl dd {
    width: 75%;
    padding: 10px 0;
}

.site_go {
    width: 200px;
    text-align: center;
    line-height: 150px;
    background-color: #1E445B;
    color: white;
    transition: all 0.3s;
}

.site_go a {
    display: block;
    width: 100%;
    /* border: 1px solid red; */
}

.site_go:hover {
    background-color: white;
    color: #1E445B;
    border: 1px solid #eee;
    box-shadow: 2px 2px 2px rgb(183, 183, 183);
}

/*  */
.project_web .project1 {}

.project_web .project2 {
    margin-top: 100px;
}

.project_web .project4 {
    margin-top: 100px;
}

.project_web .project6 {
    margin-top: 100px;
}

.section03 {}

.section04 {
    background-color: #eee;

}





/*
section05 gallery
*/

.section05 .project_web h1 {
    margin-top: 110px;
    /* border: 1px solid blue;  */
}

.box_gallery {
    width: 1200px;
    height: 820px;
    margin: -20px auto 0;
    /* border: 1px solid blue; */
}

.gallery_thumbnail {
    position: relative;
    width: 350px;
    height: 350px;
    float: left;
    border-radius: 20px;
    background-color: #eee;
    margin: 20px 25px 0 25px;
    /* border: 1px solid red; */
}

.gallery_thumbnail>a img {
    border-radius: 20px;
    width: 100%;
}


.gallery_thumbnail:hover>a>img {
    opacity: 0.15;
}

.gallery_thumbnail:hover .gallery_thumbnail_content {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%);
}

.gallery_thumbnail_content {
    user-select: none;
    /* 드래그 금지 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    opacity: 0;
    transition: 0.2s;
}

.gallery_thumbnail_content>h3 {
    font-size: 1.3em;
    line-height: 2;
    margin-bottom: 0.2em;
}

.gallery_thumbnail_content>ul>li {
    line-height: 1.4;
}




/* .section06 */
.section06 {
    background-color: #eee;
}

.section06 .project_web h1 {
    margin-top: 110px;
    /* border: 1px solid blue;  */
}










/* 
PROFILE
*/
.contents_wrap {
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    max-width: 1400px;
    width: 100%;
    /* border: 1px solid red; */
}

.contents_wrap .photo {
    background-size: cover;
    background-position: top;
    background-image: url(../img/me.jpg);
    background-repeat: no-repeat;
    width: 40%;
    padding-bottom: 40%;
    padding-right: 30%;
    margin-right: 100px;
    border-radius: 50%;
}

.contents_wrap .info_all {
    display: grid;
    flex-flow: row wrap;
    grid-template: max-content max-content / 44% calc(60% - 40px);
    gap: 60px 24px;
    /* border: 1px solid red; */
}

.contents_wrap .info_all .info {
    display: flex;
    flex-flow: column;
    gap: 16px;
    /* border: 1px solid green; */
}

.contents_wrap .info_all .info h2 {
    font-size: 20px;
    color: royalblue;
    font-family: 'GmarketSans';
    font-weight: 600;
}

.contents_wrap .info_all .info ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
}

.contents_wrap .info_all .info ul li {
    color: steelblue;
    display: flex;
    gap: 12px;

}

.contents_wrap .info_all .info ul li p {
    line-height: 1.3;
}

.contents_wrap .info_all .info ul li p.mail {
    word-break: break-all;
}

.contents_wrap .info_all .info ul li p:nth-child(1) {
    font-family: 'Pretendard';
    font-weight: 500;
    width: 40px;
    white-space: nowrap;

}

.contents_wrap .info_all .info.profile ul li p:nth-child(1) {
    width: 60px;
}

.contents_wrap .info_all .info.skills ul li p:nth-child(1) {
    width: 140px;
}

.contents_wrap .info_all .info ul li p:nth-child(2) {
    letter-spacing: -0.02em;
    width: 85%;
    margin-left: 20px;
    text-align: left;
    /* border: 1px solid red; */
}

.contents_wrap .info_all .info.skills ul li p.level {
    display: flex;
    gap: 5px;
    align-items: center;

}

.contents_wrap .info_all .info.skills ul li p.level span {
    width: 20px;
    height: 3px;
    border-radius: 2px;
}

.contents_wrap .info_all .info.skills ul li p.level span.fill {
    background: lightskyblue;
}

.contents_wrap .info_all .info.skills ul li p.level span.empty {
    background: lightgray;
}






.section08 {
    background-color: #eee;
    text-align: center;
    flex-direction: column;
}

.section08 h2 {
    font-size: 70px;
}

.section08 .hope_to_see_you {
    width: 1200px;
    height: 500px;
    margin-top: 50px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 2px 2px 2px #999;
}

.section08 .hope_to_see_you>p {
    font-size: 36px;
    font-weight: bold;
    margin: 50px 0 0 0;
}

.section08 .hope_to_see_you>span {
    display: block;
    margin-top: 26px;
    font-size: 22px;
    line-height: 32px;
}

.to_list {
    margin-top: 20px;
    width: 900px;
    height: 200px;
    margin: 50px auto;
    /* border: 1px solid rebeccapurple; */
    display: flex;
    justify-content: space-between;
}

.to_list li {
    width: calc(900px / 4);
    border: 1px solid #eee;
    width: 200px;
    border-radius: 20px;
    padding-top: 40px;
}

.to_list li p {
    line-height: 2.5em;
    font-size: 20px;
}

.to_list li img {
    /* border: 1px solid red; */
    height: 30%;
    border-radius: 5px;
    box-shadow: 0 0 0 0 #eee;
    animation: img 2s infinite;
}

@keyframes img {
    100% {
        box-shadow: 0 0 0 20px #fff;
    }
}


.list_text {
    line-height: 1;
    font-size: 16px;
}





.burger {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #fff;
    position: fixed;
    top: 20px;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 98;
    /* border: 1px solid red; */
}

.burger span {
    height: 2px;
    width: 20px;
    background-color: #000;
    margin: 2px;
}

.burger:hover {
    cursor: pointer;
}

.burger:hover span:first-child {
    width: 10px;
    transform: rotate(33deg) translate(6px, 0px);
}

.burger:hover span:last-child {
    width: 10px;
    transform: rotate(-33deg) translate(6px, 0px);
}

.menu {
    width: 25%;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.4s;
}

.menu_active {
    transform: translateX(0%);
    transition: all 0.4s;
}

.menu .btn_close {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
    font-size: 25px;
    line-height: 20px;
    height: 25px;
    width: 25px;
    color: white;
    padding: 0;
    border: 0;
}

.menu .btn_close:hover {
    color: indianred;
    transform: rotate(180deg);
}

.menu ul li {
    margin: 20px 10px;
    font-size: 25px;
}

.menu ul li a {
    color: #fff;
}

.menu ul li a:hover {
    color: indianred;
}














@media screen and (max-width:768px) {
    .section01 video {
        height: 100vh;
        width: 150%;
    }

    .section01 p {
        width: 70%;
        font-size: 1em;
    }

    .section02 {
        height: 100vh;
        /* border: 1px solid red; */
    }

    .section03 {
        background-color: #eee;
        height: 100vh;
        /* border: 1px solid green; */

    }

    .section04 {
        height: 100vh;
        /* border: 1px solid blue; */
    }



    .project_web h1 {
        margin-bottom: 20px;
        border-bottom: 2px solid #999;
        padding-bottom: 10px;
        font-family: 'GmarketSans';
        /* border: 1px solid red; */
    }

    .project_web {
        width: 80vw;
    }

    .project_web .project {
        flex-flow: row wrap;
        margin-bottom: 20px;
    }

    .project_web .project .img {
        width: 100%;
        height: 30vw;
    }


    .project_web .project .content {
        margin-left: 0;
        margin-top: 20px;
    }

    .project_web .project .content dl dd {
        width: 75%;
        padding: 10px 0 0 20px;
    }

    .site_go {
        /* border: 1px solid red; */
        height: 8.5em;
        line-height: 8.5em;
        margin-top: 10px;
    }

    .section05 .project_web h1 {
        margin-top: 200px;
    }


    .section06 .project_web h1 {
        margin-top: 200px;
    }

    .box_gallery {
        width: 1200px;
        height: 100vh;
        margin: -20px auto 0;
        /* border: 1px solid blue; */
    }

    .box_gallery_cont {
        width: 80vw;
        height: 80vh;
        display: grid;
        grid-template-columns: auto auto;
    }

    .gallery_thumbnail {
        width: 200px;
        height: 200px;
    }

    .gallery_thumbnail_content {
        width: 100%;
        transform: translate(-50%, 50%);
    }


    /* 
    PROFILE
    */
    .contents_wrap {
        flex-flow: row wrap;
        width: 80vw;
        height: 100vh;
        /* border: 1px solid red; */
    }

    .contents_wrap .photo {
        background-position: center;
        width: 60vw;
        height: 40vh;
        margin-right: 0;
        /* border: 1px solid red; */
    }

    .contents_wrap .info_all {
        grid-template: max-content max-content / 44% calc(60% - 40px);
        gap: 60px 24px;
        /* border: 1px solid red; */
    }

    .contents_wrap .info_all .info ul li p.mail {
        word-break: break-all;
    }




    .section08 h2 {
        font-size: 3.5em;
    }


    .section08 .hope_to_see_you {
        width: 80vw;
        height: 700px;
    }

    .section08 .hope_to_see_you>p {
        font-size: 2.5em;
    }

    .section08 .hope_to_see_you>span {
        display: block;
        font-size: 1.2em;
        line-height: 1.5em;
    }


    .to_list {
        margin-top: 20px;
        width: 60vw;
        height: 60%;
        margin: 50px auto;
        display: grid;
        grid-template-columns: auto auto;
    }

    .to_list li {
        width: 180px;
        height: 200px;
    }


    .menu {
        width: 40%;
    }
}
