@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
body{
    font-size: 14px;
    font-family: pretendard;
    line-height: 1;
    color: #444;
}

table{
    border: 0;
    border-collapse: collapse;
}

img{
    border: none;
    vertical-align: top;
}

.c_fix::before,
.c_fix::after{
    content: "";
    display: block;
    clear: both;
    
}